<mat-card class="input-card">
    <mat-card-header>
        <mat-card-title> {{ this.title }} </mat-card-title>
        <mat-card-subtitle>{{ this.id }}</mat-card-subtitle>
    </mat-card-header>
    <div class="col3" *ngIf="this.sentiments">
        <div *ngFor="let month of monthsToDisplay; index as i;">
            <div class="col3">
                <div>
                    <h1 class="mon-element">{{month | monthName}}</h1>
                    <div *ngFor="let sentiment of sentiments">
                        <div class="col3" *ngIf="sentiment.month == month">
                            <div>
                                <p class="mon-element">
                                    <span class="nom-de-champ">Change : </span>
                                    <span class="test">{{sentiment.change}}</span>
                                </p>
                                <p class="mon-element">
                                    <span class="nom-de-champ">MSPR : </span>
                                    <span class="test">{{sentiment.mspr}}</span>
                                </p>
                            </div>
                            <div>
                                <h1 *ngIf="sentiment.change >= 0, else elseBlock" style="color:green;">🡹</h1>
                                <ng-template #elseBlock>
                                    <h1 style="color:red;">🡻</h1>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <mat-card-actions>
        <button id="backBtn" (click)="goBack()" mat-raised-button color="primary">
            <= Back to list of stocks</button>
    </mat-card-actions>
</mat-card>